@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue1: #16181E;
  --blue2: #21242D;
  --blue3: #00B9AE;
  --white: #F9F9F9;
}

body {
  background-color: var(--blue2);
  font-family: 'Lato', sans-serif;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}